<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/css/dashboard.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  <title>Dash Board</title>
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- container Starts here -->
  <div class="container">
    <!-- aside Starts here -->
    <aside>
      <!-- top starts here -->
      <div class="top">
        <div class="logo">
          <img src="static/images/logo.png" alt="">
          <h2>Compounding Funda</h2>
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-outlined">close</span>
        </div>
      </div>
      <!-- top ends here -->
      <!-- side bar starts here -->
      <div class="slide-bar">
        <a href="#">
          <span class="material-symbols-outlined">person</span>
          <h3 id="username"></h3>
        </a>
        <a href="#" onclick="account()">
          <span class="material-symbols-outlined">manage_accounts</span>
          <h3>Account</h3>
        </a>
        <a href="#" class="scrneer" onclick="screener()">
          <span class="material-symbols-outlined">sort</span>
          <h3>Screener</h3>
        </a>
        <!-- <a href="#"  onclick="heatmap()">
          <span class="material-symbols-outlined">local_fire_department</span>
          <h3>Heatmap</h3>
        </a> -->
        <a href="#"  onclick="subscribePlanDisplay()"s>
          <span class="material-symbols-outlined">shopping_cart</span>
          <h3>offers</h3>
        </a>
        <a href="#" onclick="support()">
          <span class="material-symbols-outlined">support_agent</span>
          <h3>Support</h3>
        </a>
        <a href="#" class="logout" onclick="logout()">
          <span class="material-symbols-outlined">logout</span>
          <h3>Logout</h3>
        </a>
      </div>
      <!-- side bar ends here -->

    </aside>
    <!-- aside ends here -->
    <!-- main Starts here -->
    <main>
      <div class="main-heading">
        <h2>Dash Board</h2>   
      </div>
      <div class="content">
        <div class="content">
          
          
      </div>

      </div>
    </main>
    <!-- main ends here -->
    <!-- <div class="right">
      <h1>Right</h1>
    </div> -->

  </div>
  <!-- Comtainer ends here -->
<script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
  <script src="static/js/dashboard.js"></script>
</body>
</html>