<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPOUNDING FUNDA</title>
    <link rel="stylesheet" type="text/css" href="static/css/gsheet.css">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>

<div id="header">
    <!-- Content of your fixed header goes here -->
    <div class="title">
        <h1 class ="top-heading">COMPOUNDING FUNDA</h1>
    </div>
    <button class="dashboard-btn" onclick="dashboard()">Dashboard</button>
</div>

<iframe id="sheetFrame" src="" allowfullscreen="true"></iframe>

<script src="static/js/gsheet.js"></script>

</body>
</html>
