<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
<link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
  <div class="container">
    <h1 class="page-title">SIGN IN</h1>
    <div id="signin-section">
    <img src="static/images/logo2.png" alt="Logo" class="logo">
    <div id="signin-section">
      <div class="input-container">
        <input type="text" id="username" placeholder="Email">
      </div>
      <div class="input-container">
        <input type="password" id="password" placeholder="Password">
      </div>
      <button onclick="signIn()">Sign In</button>
      <a href="/forgetpwd" onclick="forgotPassword()" class="forgot-password">Forgot Password?</a>
      <p>Don't have an account? <a href="/signup">Sign up</a></p>
    <div class="processing-indicator" id="processing-indicator">
    <img src="static/images/loading-spinner.gif" alt="Processing...">
    <p>Processing...Please wait</p>
    </div>
  </div>

  <script src="static/js/script.js"></script>
</body>
</html>